@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #FFF;
    font-size: 60px;
}

.banner .content p {
    color: #FFF;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.banner header .logo {
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    /* ele tinha deixado 24px */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border 0.2s;
}

.banner header .logo:hover {
    color: #EEE;
    border-color: #EEE;
}

.banner header .toggle {
    position: relative;
    width: 36px;
    height: 28px;
    background: url(../img/toggle.png);
    background-size: cover;
    cursor: pointer;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBx {
    background: #162C3B;
    padding: 100px;
    width: 50%;
}

.heading {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url(../img/window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

.services {
    background: #12222D;
    padding: 100px;
    text-align: center;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBx {
    position: relative;
    background: #FFF;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

    transition: box-shadow 0.2s;
}

.services .container .serviceBx:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.services .container .serviceBx img {
    max-width: 100px;
}

.services .container .serviceBx h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.technology {
    background: #3F8FFC;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .contentBx {
    max-width: 800px;
}

.technology .imgBx {
    max-width: 250px;
}

.technology .imgBx img {
    max-width: 100%;
}

.client {
    background: #162C3B;
    padding: 100px;
    text-align: center;
}

.client .imgBx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img {
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;

    transition: opacity 0.2s;
}

.client .imgBx img:hover {
    opacity: 0.8;
}

.testimonials {
    padding: 100px;
    background: #12222D;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.testimonials .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.testimonials .container .contentBx {
    background: #FFF;
    padding: 60px 50px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 20px;

    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.2s;
}

.testimonials .container .contentBx:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.testimonials .container .contentBx p {
    font-style: italic;
}

.testimonials .container .contentBx h3 {
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #12222D;
}

.contact {
    padding: 100px;
    background: #162C3B;
    text-align: center;
}

.imgBx2 {
    background: url(../img//bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.redBg {
    background: url(../img//red.jpg) !important;
    background-size: cover;
    background-position: center;
    width: 50%;
}

.form .inputBx {
    margin-bottom: 40px;
}

.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    border-bottom: 2px solid #FFF;

    transition: border 0.2s;
}

.form .inputBx input:focus::placeholder,
.form .inputBx textarea:focus::placeholder {
    font-size: 0.9rem;
}

.form .inputBx input::placeholder,
.form .inputBx textarea::placeholder {
    color: #FFF;
    transition: font-size 0.2s;
}

.form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    min-height: 150px;
    color: #FFF;
    border-bottom: 2px solid #FFF;

    resize: none;
    transition: border 0.2s;
}

.form .inputBx input[type="submit"] {
    border: 1px solid white;
    padding: 12px 8px;
    background-color: #FFF;
    color: #162C3B;
    font-weight: 500;
    cursor: pointer;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

    transition: filter 0.2s, box-shadow 0.2s;
}

.form .inputBx input[type="submit"]:hover {
    filter: brightness(0.97);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.footer {
    background: #162C3B;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img {
    filter: invert(1);
    max-width: 20px;
}

.footer i {
    color: #3F8FFC;
    transition: color 0.2s;
}

.footer p:hover i,
.footer p:hover .made-by {
    color: #3475CA;
}

.made-by {
    color: #3F8FFC;
    transition: color 0.2s;
}

@media (max-width: 991px) {
    .banner {
        padding: 50px;
    }

    .banner header {
        padding: 20px 50px;
    }

    .banner .content h2 {
        font-size: 26px;
    }

    .banner .content p {
        font-size: 16px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx,
    .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 450px;
        text-align: center;
    }

    .services {
        padding: 50px;
    }

    .services .container {
        justify-content: center;
        margin-top: 20px;
    }

    .services .container .serviceBx {
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .technology {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx {
        margin-top: 40px;
        max-width: 250px;
    }

    .client {
        padding: 50px;
    }

    .client .imgBx {
        justify-content: center;
    }

    .testimonials {
        padding: 50px;
        width: 100%;
    }

    .testimonials .container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .testimonials .container .contentBx {
        padding: 60px;
        width: 100%;
        margin-bottom: 20px;
    }

    .testimonials .container .contentBx p {
        font-size: 0.85rem;
    }

    .testimonials .container .contentBx h3 {
        font-size: 0.85rem;
    }

    .testimonials .container .contentBx:last-of-type {
        margin-bottom: 0;
    }

    .contact {
        padding: 50px;
    }

    .footer {
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer ul {
        margin-bottom: 20px;
    }

    .banner,
    .about,
    .services,
    .technology,
    .client,
    .testimonials,
    .contact,
    .footer {
        width: 100%;
    }
}