@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #FFF;
    font-size: 60px;
}

.banner .content p {
    color: #FFF;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.banner header .logo {
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    /* ele tinha deixado 24px */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border 0.2s;
}

.banner header .logo:hover {
    color: #EEE;
    border-color: #EEE;
}

.banner header .toggle {
    position: relative;
    width: 36px;
    height: 28px;
    background: url(../img/toggle.png);
    background-size: cover;
    cursor: pointer;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBx {
    background: #162C3B;
    padding: 100px;
    width: 50%;
}

.heading {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url(../img/window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

.services {
    background: #12222D;
    padding: 100px;
    text-align: center;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBx {
    position: relative;
    background: #FFF;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

    transition: box-shadow 0.2s;
}

.services .container .serviceBx:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.services .container .serviceBx img {
    max-width: 100px;
}

.services .container .serviceBx h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.technology {
    background: #3F8FFC;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .contentBx {
    max-width: 800px;
}

.technology .imgBx {
    max-width: 250px;
}

.technology .imgBx img {
    max-width: 100%;
}

.client {
    background: #162C3B;
    padding: 100px;
    text-align: center;
}

.client .imgBx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img {
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;

    transition: opacity 0.2s;
}

.client .imgBx img:hover {
    opacity: 0.8;
}

.testimonials {
    position: relative;
    padding: 100px;
    background: #12222D;
    text-align: center;
}

.testimonials .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    flex-wrap: wrap;
}

.testimonials .container .contentBx {
    background: #FFF;
    padding: 60px 50px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 20px;

    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.2s;
}

.testimonials .container .contentBx:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.testimonials .container .contentBx p {
    font-style: italic;
}

.testimonials .container .contentBx h3 {
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #12222D;
}

.contact {
    padding: 100px;
    background: #162C3B;
    text-align: center;
}

.imgBx2 {
    background: url(../img//bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}